/* styles.css */
.search-container {
  margin-bottom: 16px;
}

.employee-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.search-input {
  width: 300px;
}

.ant-table-cell {
  white-space: pre-wrap;
  padding: 12px 8px; /* Tăng khoảng cách padding */
}

.ant-table-row {
  line-height: 1.5; /* Tăng khoảng cách dòng */
}

.salary-column {
  white-space: pre-wrap;
  max-width: 300px;
  line-height: 1.5; /* Tăng khoảng cách dòng */
}


.salary-error-message {
  margin: 12px 0px

}

.search-container {
  display: flex;
  align-items: center;
  padding: 8px;
}

.search-input {
  padding: 12px;
}

.filter-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-icon {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-icon-container:hover .filter-icon {
  background-color: #EAEDF0; /* Màu nền khi di chuột vào */
  border-radius: 6px;
}


.export-summary-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.left-title-salary-table {
  display: flex;
  gap: 25px;
  
}